name: CI

on: [push]

jobs:
  build:
    runs-on: [ubuntu-22.04]

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.12
      - name: Build with Maven
        run: |
          cd org.example.model
          mvn --batch-mode --update-snapshots package
      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: org.example.model
          path: org.example.model/target/org.example.model-*.jar
